---
layout: layout.njk
---

<h1>Eleventy + Forestry</h1>
<img src="{{ 'img/poney.jpg' | url }}" alt="Test d'une image avec un poney">

{% for post in collections.posts %}
    <a href="{{ post.url | url }}">{{ post.data.title }}</a>
{% endfor %}