---
layout: layout.njk
---

<h1>Eleventy + Forestry</h1>
<img src="{{ 'img/poney.jpg' | url }}" alt="Test d'une image avec un poney">

{# {% for service in collections.services %}
    {{ service.data.title }}
{% endfor %} #}